* {
    margin: 0;
    padding: 0;
}

.container{
    margin-top: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.square{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 400px;
    background-color: darkred;
}

.circle{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 200px;
    background-color: blue;
    border-radius: 50%;
}

.little-square{
    display: flex;
    width: 60px;
    height: 60px;
    background-color: lightgray;
}
